<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">درباره ما</h2>
                <h3 class="section-subheading text-muted">داستان شکل‌گیری و مسیر تیم ما</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/1.jpg" alt="To Be Added">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>دی 1403</h4>
                                <h4 class="subheading">شروع مسیر</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">ما هر کدام در جای مختلفی مشغول کار بودیم، اما تصمیم گرفتیم کنار هم جمع بشیم و کار خودمون رو به صورت مستقل شروع کنیم.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/2.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>اسفند 1403 – خرداد 1404</h4>
                                <h4 class="subheading">مسابقه جِت و مقام اول</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">در مسابقه جِت که توسط شهرداری تهران و سازمان حمل‌ونقل و ترافیک برگزار شد شرکت کردیم. این رویداد سه ماه طول کشید و در خرداد 1404 موفق شدیم مقام اول رو کسب کنیم.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/3.png" alt="To Be Added">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>تابستان 1404</h4>
                                <h4 class="subheading">
                                    ساخت <span style="direction:ltr; display:inline-block;">ViSta</span> و ورود به بازار
                                </h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    ما توی تابستون طرحمون که توی مسابقه اول شد (<span style="direction:ltr; display:inline-block;"><strong>ViSta</strong></span>) 
                                   رو  دولوپ کردیم و داریم سعی می‌کنیم که به فروش برسونیمش. تیم شهرزاد گفته که محصول ما رو میخواد.
                                </p>
                            </div>

                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>شما هم<br>بخشی از<br>داستان ما باشید!</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
